<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
    <nb-actions>
      <nb-action icon="menu" (click)="toggle()"></nb-action>
    </nb-actions>
    Mon Application Angular
  </nb-layout-header>

  <nb-sidebar fixed>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    &copy; 2020 - TFTIC
  </nb-layout-footer>

</nb-layout>
